@{
    ViewBag.Title = "Home Page";
}
<div id="indexPage" style="width: 100%; display: inline-block;">
    <div style="float: left; width: 50%; display: inline-block;">
        <div>
            <h2>
                Basic Crystal Report Sample</h2>
            <p>
                <a href="/Demo/Basic" class="button">Basic Crystal Report</a>
            </p>
        </div>
        <div>
            <h2>
                Basic Crystal Report By TTX Sample</h2>
            <p>
                <a href="/Demo/BasicTtx" class="button">Basic Crystal Report By TTX</a>
            </p>
        </div>
        <div>
            <h2>
                Master Details Crystal Report With Param Sample</h2>
            <p>
                <a href="/Demo/MasterDetails/1" class="button">Master Details Crystal Report With Param</a>
            </p>
        </div>
    </div>
    <div style="float: right; width: 50%; display: inline-block;">
        <div>
            <h2>
                Sub Crystal Report Sample</h2>
            <p>
                <a href="/Demo/SubReport/1" id="" class="button">Sub Crystal Report</a>
            </p>
        </div>
        <div>
            <h2>
                Sub Crystal Report By TTX Sample</h2>
            <p>
                <a href="/Demo/SubReportTtx/1" id="" class="button">Sub Crystal By TTX Report</a>
            </p>
        </div>
        <div>
            <h2>
                Sample</h2>
            <p>
                <a href="#" id="" class="button">Click</a>
            </p>
        </div>
    </div>
</div>
